# Non-website files
*.pdf
*.pages
*.numbers
*.xlsx
*.docx
*.psd
*.ai
*.mp4
*.zip
*.txt
!.gitignore
!robots.txt
.DS_Store
.localized

# Directories not needed for deployment
QO IMAGES/
g5 silk/
IMAGES WEB/
